/*--------- home start --------*/
/* header */
#header{ width: 100%; height: 58px; background-color: red; box-shadow: 0 0 5px 0 #000; text-align: center; position: relative; z-index: 1;}
#header .header_inner {width: 154px; background: url("../images/header_title_03.png") no-repeat left center; height: 46px; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;}

/* banner */
#banner { height: 207px; background: url("../images/banner_bg_06.png") no-repeat center; background-size: cover; position: relative;}
#banner > img {position: absolute;}
#banner .left {width: 55%; height: 49px; bottom: -9px; z-index: 1;}
#banner .right {width: 61%; height: 50px; bottom: -11px; right: 0;}

/* main */
#main {margin-top: 37px; padding: 0 3.5%;}
#main div {padding: 0 2%; margin-bottom: 27px;}
#main div img {width: 29%; padding: 0 2%;}

/*--------- home end --------*/